autosam.*
!autosam.tex
!autosam.bib
data/raw/
data/temp/
bin/external/
docs/manuscript/feedback/
docs/manuscript/unused/
docs/review/
results/
src/@Oracle/
src/d_Nbar/
src/d_pf/
src/d_Re/
src/consistency_analysis.m
src/corr_analysis2.m
src/dirs2res.m
src/loop_var.m
src/make_figures.m
src/make_ObsvLuLyGu.m
src/temp2raw.m
*.asv
*.err
*.out
*.e[0-9]*
*.o[0-9]*
Job[0-9]*