autosam.*
!autosam.tex
!autosam.bib
data_old/
data/raw/
data/temp/
bin/
docs/manuscript/feedback/
docs/manuscript/unused/
docs/review/
results/
results_old/
src/SlurmSettings.mat
*.asv
*.err
*.out
*.e[0-9]*
*.o[0-9]*
Job[0-9]*
src/pdir.mat
.github/